<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit" align="right">
  <h1>MICCAI 2013 DTI Tractography Challenge</h1>
  <p>Sunday September 22, 2013, Nagoya, Japan</p>
  <p><a class="btn btn-primary btn-large" href="introduction.html">Learn more &raquo;</a></p>
  <br/>  <br/>  <br/>  <br/>  <br/>  <br/>  <br/>  <br/> <br/> <br/>
  <p>DTI Tractography Challenge on Peritumoral White Matter Anatomy for Neurosurgical Decision-Making</p>
</div>

<!-- Example row of columns -->
<!--
<div class="row">
  <div class="span4">
    <h2>Contact</h2>
    <p>For stereotactic surgical guidance, OpenIGTLink provides a simple solution to import 3D tool tracking data from various sensors and commercial surgical navigation system to surgical navigation software, such as <a href="http://slicer.org">3D Slicer</a>.</p>
    <p><a class="btn" href="about.html">View details &raquo;</a></p>
  </div>
  <div class="span4">
    <h2>Faculty</h2>
    <p>OpenIGTLink supports real-time image streaming. It allows you to imoprting intraoperative images to your image processing software from various imaging scanners.</p>
    <p><a class="btn" href="about.html">View details &raquo;</a></p>
  </div>
  <div class="span4">
    <h2>Introduction</h2>
    <p>OpenIGTLink is an ideal solution for integration of robot-assisted intervention systems. It supports sending robot control commands, sensor readings, robot status, etc. </p>
    <p><a class="btn" href="about.html">View details &raquo;</a></p>
  </div>
</div>
-->

<div align="center"> 
<p><img align="left" src="/images/Banner/miccai2013_banner.jpg" width="300"/></p>
</div>

<div align="right">
  <a href="http://www.miccai2013.org/"><img src="/images/Logo/miccai2013_logo.jpg" width="60"/></a>
  <a href="http://www.miccai.org/"><img src="/images/Logo/miccai_logo.jpg" width="60"/></a>
  <a href="http://na-mic.org/"><img src="/images/Logo/NAMIC.jpg" width="50"/></a>
  <a href="http://www.ncigt.org/"><img src="/images/Logo/NCIGT.gif" width="60"/></a>
  <a href="http://nac.spl.harvard.edu/"><img src="/images/Logo/NAC.gif" width="40"/></a>
  <a href="http://www.nibib.nih.gov/"><img src="/images/Logo/NIBIB.gif" width="50"/></a>
  <a href="http://www.nih.gov/"><img src="/images/Logo/NIH.jpg" width="60"></a>
</div>


<div align="left"> 
<p><h3>MICCAI DTI Tractography Challenge: Previous Editions</h3><p>
<p><a href="http://projects.iq.harvard.edu/dti_challenge"/> MICCAI 2012 DTI Tractography Challenge, Nice, France (2nd Edition)</a> </p>
<p><a href="http://www.na-mic.org/Wiki/index.php/Events:_DTI_Tractography_Challenge_MICCAI_2011"/> MICCAI 2011 DTI Tractography Challenge, Toronto, Canada (First Edition)</a> </p>
</div>


<div class="row-fluid">
  <div class="span12">
    {{ content }}
  </div>
</div>
