<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit" align="right">
  <h1>MICCAI DTI Tractography Challenge on Peritumoral White Matter Anatomy for Neurosurgical Decision-Making</h1>
  <p>Third Edition</p>
  <p><a class="btn btn-primary btn-large" href="introduction.html">Learn more &raquo;</a></p>
  <br/>  <br/>  <br/>  <br/>  <br/>  <br/>  <br/>  <br/> <br/> <br/>
  <p>16th International Conference on Medical Image Computing and Computer Assisted Intervention</p>
</div>

<!-- Example row of columns -->
<!--
<div class="row">
  <div class="span4">
    <h2>Contact</h2>
    <p>For stereotactic surgical guidance, OpenIGTLink provides a simple solution to import 3D tool tracking data from various sensors and commercial surgical navigation system to surgical navigation software, such as <a href="http://slicer.org">3D Slicer</a>.</p>
    <p><a class="btn" href="about.html">View details &raquo;</a></p>
  </div>
  <div class="span4">
    <h2>Faculty</h2>
    <p>OpenIGTLink supports real-time image streaming. It allows you to imoprting intraoperative images to your image processing software from various imaging scanners.</p>
    <p><a class="btn" href="about.html">View details &raquo;</a></p>
  </div>
  <div class="span4">
    <h2>Introduction</h2>
    <p>OpenIGTLink is an ideal solution for integration of robot-assisted intervention systems. It supports sending robot control commands, sensor readings, robot status, etc. </p>
    <p><a class="btn" href="about.html">View details &raquo;</a></p>
  </div>
</div>
-->
<img align="left" src="http://www.miccai2013.org/data/files/miccai2013_banner.jpg" width="100"/>


<div align="right">
  <a href="http://www.miccai2013.org/"><img src="http://www.miccai2013.org/data/files/miccai2013_logo.jpg" width="60"/></a>
  <a href="http://www.miccai.org/"><img src="http://www.miccai2013.org/data/files/miccai_logo.jpg" width="60"/></a>
  <a href="http://na-mic.org/"><img src="http://www.na-mic.org/Wiki/images/d/d1/NAMIC_380x463.jpg" width="50"/></a>
  <a href="http://www.ncigt.org/"><img src="http://www.ncigt.org/img/logo_igt.gif" width="60"/></a>
  <a href="http://nac.spl.harvard.edu/"><img src="http://nac.spl.harvard.edu/img/logo_nac.gif" width="40"/></a>
  <a href="http://www.nibib.nih.gov/"><img src="http://www.nems.nih.gov/teams/PublishingImages/NIBIBlogo.gif" width="50"/></a>
  <a href="http://www.nih.gov/"><img src="http://www.nitrd.gov/agencyimages/NIH_Logo.jpg" width="60"></a>
</div>


<div class="row-fluid">
  <div class="span12">
    {{ content }}
  </div>
</div>
